
.center-icon-vertically {
  margin-top: 5px;
}

.content {
  padding: 8px 8px 70px 8px;
  width: calc(100% - 24px);
}

.export-group {
  display: inline-block;
  margin-left: 8px;
}

.description {
  margin-left: 8px;
}

.description-group {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 200px);
}

.hidden {
  visibility: hidden;
}

.padded {
  padding: 20px;
}

.patch-list {
  padding-left: 2em;
}

.patch-entry {
  border-left: #cacaca 1px dotted;
}

.row {
  padding-bottom: 6px;
}