.center-icon-vertically {
  margin-top: 5px;
}

.description {
  width: calc(100% - 10em);
}

.padded {
  padding: 20px;
}

.patch-list {
  padding: 0.5em 0 0em 2em;
  border-left: solid 1px darkgray;
}

.patch-entry {
  padding: 0 0 1em 0;
}