.app {
  background-color: #c0c9cf;
}

.center-icon-vertically {
  margin-top: 5px;
}

.content {
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 8px 70px 8px;
}

.export-group {
  display: inline-block;
  margin-left: 8px;
}

.description {
  vertical-align: middle;
  width: calc(100% - 175px);
}

.description-group {
  display: inline-block;


}

.inline-group {
  display: inline-block;
  margin-left: 8px;
}

.hidden {
  display: none;
}

.padded {
  padding: 20px;
}

.patch-list {
  padding-left: 2em;
}

.patch-entry {
  border-left: rgba(217, 217, 217, 0.5) 1px outset;
}

.row {
  padding-bottom: 6px;
}